<div class="outer">
    <div class="card">

        <div class="card-title">
            <div class="text-center" id="cardTitle">
                <h1>Guest Page!</h1>
            </div>
        </div>


        <div class="panel-body p-3">
            <form id="formInput" [formGroup]="formGroup">
                <div class="form-group pt-3">
                    <div class="input-field"  [class.error]="formGroup.controls['guestname'].dirty && formGroup.hasError('required','guestname')">
                        <span class="fa-solid fa-user"></span>
                        <input formControlName="guestname" type="text" id="inputUsername" placeholder="Enter Your Guestname...">
                    </div>
                </div>
                <small class="text-danger" *ngIf="formGroup.controls['guestname'].dirty && formGroup.hasError('required','guestname')">*Guestname is required</small>
                
            </form>
       </div>

      
       
       <div class="btn">
            <button class="btn btn-primary" (click)="submitGuestName()" type="submit">Generate Name</button>
       </div>


       <div class="sign-up">
            <div class="text-center">
                <p>Don't have an account <a routerLink="/signup-page">Sign Up!</a></p>
            </div>
       </div>


       <div class="icons">
            <a href="https://www.instagram.com/abukh_20" class="fa-brands fa-instagram"></a>
            <a class="fa-brands fa-twitter" href="https://www.twitter.com"></a>
            <a class="fa-brands fa-github" href="https://www.github.com"></a>
       </div>
    </div>
</div>
