<div class="outer">
   
    <div class="title">
        <h1>Welcome To Chatters!</h1>
    </div>

    <div class="description">
        <p>You can chat to anyone on here as a group or in private, so sit, relax and chat.</p>
    </div>

    <div class="options">
        <div class="card" id="card1">
            <button class="btn btn-primary" routerLink="login-page"><i class="fa-sharp fa-solid fa-right-to-bracket">   Login</i></button>
        </div>

        <div class="card" id="card2">
            <button class="btn btn-primary" routerLink="signup-page"><i class="fa-solid fa-user-plus fa-2xl">  Sign Up</i></button>
        </div>

        <div class="card" id="card3">
            <button class="btn btn-primary" routerLink="guest-page"><i class="fa-solid fa-alien">GUEST</i></button>
        </div>
    </div>

    
  
</div>

