<div class="outer">
    <div class="card">

        <div class="card-title">
            <div class="text-center" id="cardTitle">
                <h1>SignUp!</h1>
            </div>
        </div>

       <div class="panel-body p-3">
            <form id="formInput" [formGroup]="signupForm">

                <div class="form-group pt-3">
                    <div class="input-field">
                        <span class="fa-solid fa-user"></span>
                        <input type="text" formControlName="firstname" placeholder="Enter Your Firstname...">
                    </div>
                </div>
                <small class="text-danger" *ngIf="signupForm.controls['firstname'].dirty && signupForm.hasError('required','firstname')">*Firstname is required</small>

                <div class="form-group pt-3">
                    <div class="input-field">
                        <span class="fa-solid fa-user"></span>
                        <input type="text" formControlName="lastname" placeholder="Enter Your Lastname...">
                    </div>
                </div>
                <small class="text-danger" *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('required', 'lastname')">*Lastname is required</small>

                <div class="form-group pt-3">
                    <div class="input-field">
                        <span class="fa-solid fa-user"></span>
                        <input type="text" formControlName="username" placeholder="Enter Your Username...">
                    </div>
                </div>
                <small class="text-danger" *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">*Username is required</small>

                <div class="form-group pt-3">
                    <div class="input-field"> 
                        <span class="fa-solid fa-user"></span>
                        <input type="text" formControlName="email" placeholder="Enter Your Email Address...">
                    </div>
                </div>
                <small class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email address is required</small>

                <div class="form-group pt-3">
                    <div class="input-field">
                        <span class="fa-sharp fa-solid fa-lock"></span>
                        <input [type]="type" formControlName="password" placeholder="Enter Your Password...">
                        <span (click)="hideShowPass()" class="{{eyeIcon}}" id="eye"></span>
                    </div>
                </div>
                <small class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*Password is required</small>
            
            </form>
       </div>

       
       <div class="btn">
            <button class="btn btn-primary" type="submit" (click)="signUpBtn()">Sign Up</button>
       </div>


       <div class="sign-up">
            <div class="text-center">
                <p>Already have an account? <a routerLink="/login-page">Login!</a></p>
            </div>
       </div>


       
    </div>
</div>
