// User Card SCSS

#userCard{
    margin-top: 10px;
    height: 800px;
    width: 190px;
    background-color: rgb(187, 187, 187);
}


#userCard .card-header{
    text-align: center;
    background-color: lightblue;
}


#userCard .card-header h5{
    text-decoration: underline;
    font-size: 30px;
    
}

#userCard button{
    margin: 5px 0px;
}

// Message Card SCSS

#messageCard{
    margin-left: 10px;
    height: 720px;
    width: 850px;
}

#messageCard .card-header{
    text-align: center;
    text-decoration: underline;
}

.card-body{
    overflow-y: scroll;
}

.card-body #yourName{
    text-decoration: underline;
    color: red;
    font-size: 20px;
    margin-left: 5px;
}

.card-body #yourMsg{
    width: auto;
    height: 50px;
    background: blue;
    color: white;
    margin-left: 0px 5px;
}

.card-footer input, button{
    height: 60px;
}

.card-footer button{
    font-size: 20px;
}




