<div class="outer">

    <div class="container">
        <div class="row mt-2">
            <div class="col-lg-2">

                <!-- User Card -->
                <div class="card border" id="userCard">
                    <div class="card-header"><h5>Users</h5></div>
    
                    <div class="card-body">
                        <div class="row" *ngFor="let user of users">
                            <div class="col">
                                <div class="d-grid" id="allUsers">
                                    <button class="btn btn-danger btn-block" [ngClass]="{'btn-success' : username === user, 'btn-danger' : username !== user}">
                                        Name: {{ user}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Message Card -->

            <div class="col-lg-9">
                <div class="card" id="messageCard">


                    <div class="card-header">
                        <h5>Enjoy the chat!</h5>
                    </div>



                    <div class="card-body" >
                        <p class="card-text" *ngFor="let msgs of allMessages">
                            <span id="yourMsg" class="card">{{msgs}}</span>
                        </p>
                    </div>
        
                    <div class="card-footer">
                        <form [formGroup]="messageForm" autocomplete="off">
                            <div class="row">
                                <div class="col-9">
                                    <input type="text"  class="form-control" placeholder="Write Your Message..." [value]="chatMessageInput" formControlName="msgInput">
                                </div>
                                <div class="col-3">
                                    <div class="d-grid">
                                        <button type="submit" (click)="sendMessage(message)"><i class="fa-sharp fa-solid fa-paper-plane fa-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
    
                
            </div>


        </div>

       
    </div>

</div>
